.topbar{
    @apply w-[95%] rounded mt-4 bg-gray-300 bg-opacity-10 border border-zinc-700 px-2 flex text-slate-100 items-center justify-center text-6xl tracking-tighter font-semibold py-4;
}

.username{
    @apply font-extrabold text-transparent  bg-clip-text bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400;
    background-size: 400% 400%;
    animation: gradient 7s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
