.card{
    @apply w-full bg-gray-600 bg-opacity-10 rounded shadow-sm p-4 flex flex-row hover:bg-gray-700 hover:transform  duration-200 hover:cursor-pointer;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.statuscontainer {
    @apply w-[10%] mr-2 flex flex-row space-x-1 items-center text-xs text-slate-400;
}

.primarycontainer{
    @apply w-full h-full;
}

.title{
    @apply font-bold tracking-tighter text-2xl text-white;
}

.incomplete{
    @apply  bg-red-500 rounded-full w-[12px] h-[12px];
}

.inprogress{
    @apply bg-yellow-500 rounded-full w-[12px] h-[12px];
}

.complete{
    @apply bg-green-500 rounded-full w-[12px] h-[12px];
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}